[Unit]
Description=IPv4 address to Country Mapper

[Service]
User=itzmeanjan
WorkingDirectory=/path/to/directory
ExecStart=ip2c /path/to/data/file
Restart=Always

[Install]
WantedBy=multi-user.target
